@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media only screen and (min-width: 25em) {
	
html {
	height: 110%;
	font-size: 100%;
	padding-left: 30px;
	
	background-image:url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 1100px 700px;
	margin: auto;
 }	
	
.header {
	color: red;
	font-size: 24px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-top: 245px;
	margin-bottom: -15px;
	padding-top: 4px;
 }
 
 .content {
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-bottom: -10px;
 }
 
 .twitter p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-top: 28px;
 }
 
 .facebook p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 125px;
	margin-top: -26px;
 }
 
 .instagram p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 195px;
	margin-top: -26px;
	
 } 
 
 .contentbackground {
	 background-color: rgba(255,255,255,0.7);
	 margin: auto;
	 padding-bottom: 7px;
 }
 
 .portfolioheader {
	color: red;
	font-size: 24px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-top: 40px;
	margin-bottom: -20px;
	padding-top: 4px;
 }
 
 .portfoliocontent {
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-bottom: -10px;
	margin-top: -30px;
 }
 
 .titleborder {
    width: 100%;
    height: 15px;
	color: #990000;
	border-top:thin;
	border-top-color: red;
	border-top-style:dotted;
	max-width: 639px;
	margin-left: 70px;
	margin-bottom: 27px;
}

.pic1 {
	background-image:url(../images/pic1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	height: 370px;
	width: 300px;
	box-shadow: 1px 1px 11px #888888;
	margin-left: 70px;
	margin-top: 25px;
}

.portfolioheader2 {
	color: red;
	font-size: 24px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: -20px;
	padding-top: 4px;
 }
 
 .portfoliocontent2 {
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-bottom: -10px;
	margin-top: -30px;
 }
 
 .titleborder2 {
    width: 100%;
    height: 15px;
	color: #990000;
	border-top:thin;
	border-top-color: red;
	border-top-style:dotted;
	max-width: 639px;
	margin-left: 70px;
	margin-bottom: 27px;
}

.pic2 {
	background-image:url(../images/pic2.jpg);	
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	height: 239px;
	width: 370px;
	box-shadow: 1px 1px 11px #888888;
	margin-left: 70px;
	margin-top: 25px;
}

.portfolioheader3 {
	color: red;
	font-size: 24px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: -20px;
	padding-top: 4px;
 }
 
 .portfoliocontent3 {
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 70px;
	margin-right: 50px;
	margin-bottom: -10px;
	margin-top: -30px;
 }
 
 .titleborder3 {
    width: 100%;
    height: 15px;
	color: #990000;
	border-top:thin;
	border-top-color: red;
	border-top-style:dotted;
	max-width: 639px;
	margin-left: 70px;
	margin-bottom: 27px;
}

.pic3 {
	background-image:url(../images/pic3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	height: 370px;
	width: 286px;
	box-shadow: 1px 1px 11px #888888;
	margin-left: 70px;
	margin-top: 25px;
}

.bottomborder {
    width: 100%;
    height: 15px;
	color: #990000;
	border-top:thin;
	border-top-color: red;
	border-top-style:dotted;
	max-width: 639px;
	margin-left: 70px;
	padding-bottom: 30px;
	margin-top: 20px;
}
}

@media only screen and (min-width: 50em) {
	
html {
	height: 100%;
	font-size: 100%;
	
	background-image:url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 1300px 900px;
	margin: auto;
 }	
	
.header {
	color: red;
	font-size: 24px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 30px;
	margin-right: 50px;
	margin-top: 245px;
	margin-bottom: -15px;

 }
 
 .content {
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 30px;
	margin-right: 50px;
	margin-bottom: -10px;
 }
 
 .twitter p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 30px;
 }
 
 .facebook p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 88px;
 }
 
 .instagram p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 162px;
 }
 
 .pic1 {
	background-image:url(../images/pic1.jpg);	
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	height: 475px;
	width: 385px;
	box-shadow: 1px 1px 11px #888888;
	margin-left: 70px;
	margin-top: 25px;
}

.pic2 {
	background-image:url(../images/pic2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	height: 307px;
	width: 475px;
	box-shadow: 1px 1px 11px #888888;
	margin-left: 70px;
	margin-top: 25px;
}

.pic3 {
	background-image:url(../images/pic3.jpg);	
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	height: 475px;
	width: 367px;
	box-shadow: 1px 1px 11px #888888;
	margin-left: 70px;
	margin-top: 25px;
} 

.contentbackground {
	 background-color: rgba(255,255,255,0.7);
	 margin: auto;
	 padding-bottom: 7px;
	 margin-left: 415px;
 }
}
 
 @media only screen and (min-width: 80em) {
	 
html {
	height: 110%;
	font-size: 100%;
	
	background-image:url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 1450px 1000px;
	margin: auto;
 }	
	
.header {
	color: red;
	font-size: 24px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 30px;
	margin-right: 32px;
	margin-top: 300px;
	margin-bottom: -15px;
 }
 
 .content {
	color: black;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
	margin-left: 30px;
	margin-right: 32px;
 }
 
.twitter p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
 }
 
 .facebook p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
}
 
 .instagram p {
	color: red;
	font-size: 12px;
	font-family: "HelveticaNeue-UltraLight" , 'Helvetica Neue UltraLight', 'Helvetica Neue';
}
 
 .contentbackground {
	 background-color: rgba(255,255,255,0.7);
	 margin: auto;
	 padding-bottom: 7px;
	 margin-left: 680px;
	 margin-right: 100px;
 }
 }
